<script setup lang="ts">
import { type Product } from '@/types/Product'

import ProductList from '@/components/ProductList.vue';
import { ref , nextTick } from 'vue';
import { useReceiptStore }  from '@/stores/receipt'
import { type ReceiptItem } from '@/types/Receiptitem';
import  MemberCard  from './MemberCard.vue';
import ReceiptDetailTable from './ReceiptDetailTable.vue'
import ReceiptCard from './ReceiptCard.vue';
import { provide } from 'vue';
import ReceiptDialog from './ReceiptDialog.vue';


const dialog = ref(false)
provide('ReceiptDialog', dialog)
const receiptStore = useReceiptStore()

const products1:Product[] = [
    { id: 1, name:'ลาเต้ ร้อน', price: 35.00, type: 1 },
    { id: 2, name:'อเมริกาโน', price: 45.00, type: 1 },
    { id: 3, name:'โกโก้', price: 30.00, type: 1 },
    { id: 4, name:'ช็อคมิ้น', price: 65.00, type: 1 },
    { id: 5, name:'ชาเขียว', price: 35.00, type: 1 },
    { id: 6, name:'มอคค่า', price: 35.00, type: 1 },
    { id: 7, name:'ชามะนาว', price: 40.00, type: 1 },
    { id: 8, name:'นมสด', price: 45.00, type: 1 },
    { id: 9, name:'เอสเพรสโซ', price: 30.00, type: 1},
    { id: 10, name:'ชาไทย', price: 50.00, type: 1},
    { id: 11, name:'คาปูชิโน่', price: 45.00, type: 1},
    { id: 12, name:'นำ้ส้ม', price: 30.00, type: 1}
]
const products2:Product[] = [
    { id: 1, name:'เค้กสตอเบอรี่', price: 65.00, type: 2 },
    { id: 2, name:'คุกกี้', price: 40.00, type: 2 }
]
const products3:Product[] = [
    { id: 1, name:'มาม่าเกาหลี', price: 70.00, type: 3 },
    { id: 2, name:'บิบิมบับ', price: 80.00, type: 3 },
    { id: 3, name:'ราเม็ง', price: 110.00, type: 3 }
]

const tab = ref(1)

const selected = (p: Product) => {
    console.log('ProductVIew: ' + p)
    receiptStore.addReceiptItem(p)
    nextTick(() => {
        if(divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
    })
    
}
const divReceiptItems = ref<HTMLElement | null>(null)

const showReceipt = function(){
    receiptStore.showReceiptDialog()
}

</script>

<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="6" style="background-color: rgb(221, 206, 183);">
                <v-container style="padding: 0;">
                    <v-row >
                        <v-col cols="12">
                            <div ref="divReceiptItems" style="height: 300; overflow: auto;">
                            <v-sheet min-width="300" max-width="600" height="300"  elevation="6" >
                                <ReceiptDetailTable></ReceiptDetailTable>
                            </v-sheet>
                        </div>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="60" elevation="6">
                                <MemberCard></MemberCard>
                            </v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="140" elevation="6">
                                <ReceiptCard></ReceiptCard>
                            </v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="80" elevation="6">
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-btn block rounded="xl" size="large">ยกเลิก</v-btn>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-btn block rounded="xl" color="primary" size="large"  @click="showReceipt()">ชำระเงิน</v-btn>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-sheet>
                        </v-col>
                    </v-row>
                    
                </v-container>
            </v-col>
            <v-col cols="12" md="6" style="background-color: rgb(221, 206, 183);">
                <v-sheet min-width="500" max-width="600" height="640" elevation="6">
                    <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
                        <v-tab :value="1">Drink</v-tab>
                        <v-tab :value="2">Desert</v-tab>
                        <v-tab :value="3">Food</v-tab>
                    </v-tabs>
                    <v-window v-model="tab">
                        <v-window-item :value="1">
                            <ProductList :products="products1" @selectedproduct="selected"></ProductList>
                        </v-window-item>
                        <v-window-item :value="2">
                            <ProductList :products="products2" @selectedproduct="selected"></ProductList>
                        </v-window-item>
                        <v-window-item :value="3">
                            <ProductList :products="products3" @selectedproduct="selected"></ProductList>
                        </v-window-item>
                    </v-window>
                </v-sheet>
            </v-col>
        </v-row>
    </v-container>
    <ReceiptDialog></ReceiptDialog>
</template>

<style scoped>
</style>